:host {
  flex: 1 0 auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__field {
    width: 100%;
  }

  &__submit-btn {
    align-self: flex-end;
  }

  &__footer {
    margin-top: auto;
  }
}

.autocomplete-option {
  height: 50px;
}
