/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}
a {
  text-decoration: none;
  color: #fff;
}

.mixed-field .mat-form-field-infix {
  display: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.row {
  display: flex;
  align-items: center;
  &.wrap {
    flex-wrap: wrap;
  }
  & > * {
    margin-right: 20px;
  }
}

.flex-grow {
  flex-grow: 1;
}
